body{
  font-family: arial;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.848);
}
.main{
  display: flex;
  flex-direction: column;
  
  width: 100%;

 
}
.type{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  
}
#search{
  height: 50px;
  width: 500px;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.842); 
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  
  
 
  
  
  

}
.box{
  display: flex;
  
  height: 350px;
  width: 250px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
  
 
 
  

}
.image{
  height: 100%;
  width: 100%;
  border-radius: 10px;

}
.box .overlay{
  display: flex;
  flex-direction: column;
  
  width: 100%px;
    max-height: 100%;
       min-height: auto;
    position: absolute;
    bottom: -100%;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    left: 0;
    transition: 0.5s;
    background-color: white;
}
.box span {
  color: orange;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
}
.box:hover .overlay {
  bottom: 0%;
}
.overlay h2 {
  margin-bottom: 10px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
